<div class="col d-flex justify-content-center">
  <div class="card" style="width: 40rem;">
    <div class="card-body">
      {% if good.image %}
        <a href="{{ good.image.url }}" target="_blank">
          <img class="border-3 rounded img-fluid img-thumbnail mb-2 mx-auto d-block" src="{{ good.image.url }}">
        </a>
      {% endif %}
      <h5 class="card-title">{{ good.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        <small>
          Категории {{ good.category__name }}
        </small>
      </h6>
      <p class="card-text">{{ good.description|truncatewords:10 }}</p>
{#      <a href="{% url 'blog:post_detail' post.id %}" class="card-link">Читать полный текст</a>#}
      <p class="card-footer">{{ good.price }} <span class="text-muted">руб.</span></p>
    </div>
  </div>
</div>