{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'pages:index' %}">
{#        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">#}
        Bebrus
      </a>
        <ul class="nav  nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="#">
              О проекте
            </a>
          </li>
          {% if user.is_authenticated %}
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset"
                  href="#">{{ user.email }}</a></button>
              <form method="post" action="{% url 'auth:logout' %}" class="btn btn-outline-primary">
                {% csrf_token %}
                <button type="submit" class="text-decoration-none text-reset btn" style="margin: 0;padding: 0">Выйти</button>
              </form>
            </div>
          {% else %}
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset"
                  href="{% url 'pages:login' %}">Войти</a></button>
            </div>
          {% endif %}
        </ul>
    </div>
  </nav>
</header>